body {
  font-family: 'Inter', sans-serif;
  color: hsl(228, 12%, 44%);
}

main {
  padding: 2rem 1rem;
}

.social-media-icon {
  width: 20px;
  height: auto;
  margin-right: .5rem;
}

.icon-arrow {
  width: 8px;
  height: auto;
  margin-right: .25rem;
}

/* Main */

/* Main .dashboard-header */
.dashboard-header {
  line-height: 1.5rem;
}

h1 {
  color: hsl(230, 17%, 14%);
  font-size: 1.5rem;
  font-weight: 700;
}

.dark-mode-container {
  border-top: 1px solid hsla(232, 19%, 15%, .5);
  padding-top: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.btn-toggle {
  width: 40px;
  height: 20px;
  background-color: hsl(0, 0%, 75%);
  border-radius: 500px;
  position: relative;
}

.btn-toggle > #btn-toggle-circle {
  width: 18px;
  height: 16px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

/* Main .dashboard-followers-list */
.dashboard-followers-list {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.dashboard-followers-item {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1.5rem;
  text-align: center;
  position: relative;
}

.dashboard-followers-item::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  position: absolute;
  top: -2%;
  left: 0;
  z-index: 1;
  border-radius: 5px;
}

#dashboard-followers-facebook::before {
  background: hsl(208, 92%, 53%);
}

#dashboard-followers-twitter::before {
  background: hsl(203, 89%, 53%);
}

#dashboard-followers-youtube::before {
  background: hsl(348, 97%, 39%);
}

.dashboard-followers-item > div:first-of-type, .follower-gain {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
}

.dashboard-followers-item strong {
  display: block;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: normal;
  color: hsl(230, 17%, 14%);
}

.dashboard-followers-item > div:nth-of-type(2) {
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.dashboard-followers-item > div {
  position: relative;
  z-index: 2;
  padding: 1.5rem 0;
  background-color: hsl(227, 47%, 96%);
}

.follower-gain {
  color: hsl(163, 72%, 41%);
}

.follower-decrease {
  color: hsl(356, 69%, 56%);
}

/* Main .overview-container */

.overview-today-container > h2 {
  font-size: 1.5rem;
  margin: 2rem 0;
  font-weight: 700;
}

.overview-today-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.overview-today-list-item {
  background-color: hsl(227, 47%, 96%);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: .75rem;
  padding: 1.5rem;
  font-size: 14px;
  align-items: center;
}

.overview-today-list-item > div:first-of-type {
  font-weight: 700;
}

.overview-today-list-item > div:nth-of-type(2) {
  font-size: 2rem;
  color: hsl(230, 17%, 14%);
  font-weight: 700;
}

.overview-today-list-item > img, .overview-today-list-item > div:last-of-type {
  justify-self: end;
}

.overview-today-list-item > div:last-of-type {
  align-self: end;
}

/* Dark Mode */
main.dark .btn-toggle {
  background: linear-gradient(to right,hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

main.dark .btn-toggle > #btn-toggle-circle {
  background-color: hsl(230, 17%, 14%);
  right: inherit;
  left: 5%;
}

main.dark {
  background-color: hsl(230, 17%, 14%);
  color: hsl(228, 34%, 66%);
}
/* .dashboard-header dark */

main.dark h1,  main.dark strong, main.dark .overview-today-list-item > div:nth-of-type(2), main.dark > .overview-today-container > h2 {
  color: hsl(0, 0%, 100%);
}

main.dark .dark-mode-container {
  border-top-color: hsla(228, 34%, 66%, .5);
}

main.dark .dashboard-followers-item > div, main.dark .overview-today-list-item {
  background-color: hsl(228, 28%, 20%);
}